# Unsupervised Learning

In [1]:
%matplotlib widget

Don't forget to install widgetsnbextension! : https://ipywidgets.readthedocs.io/en/latest/user_install.html

In [2]:
from sklearn import manifold
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Dimensionality Reduction

Dimensionality reduction is an unsupervised learning technique that tries to reduce the dimensionality of a dataset while still preserving intrinsic properties of the dataset such as its total variance.  *Metric* Multidimensional Scaling is based on eigendecomposition methods, while "Non-Metric" Multidimensional Scaling is based on the various iterative methods of reducing some stress or error function.

Metric dimensionality reduction is one of the more abstract ML domains, and it can also suffer from scalability issues that limits its ability to handle large amounts of data.  However, it's one of the more powerful tools for understanding *relationships* amongst the data by transforming the raw data into intermediate forms, such as *metric distances*.

Euclidean distance is a common approach for dimensionality reduction.  As an example, consider the following table of travel distances between cities in Colorado.  In the past, travel tables were really useful for travellers to understand how long certain routes would take.  However, it's actually possible to *recover the map* of cities from their distances alone.

![colorado_map](https://www.colorado.com/sites/default/files/mileagetable.jpg)

For our data, let's take a look at some distances between European cities.

In [3]:
dat = pd.read_csv("../data/eurodist.csv", index_col=0)
dat

,Athens,Barcelona,Brussels,Calais,Cherbourg,Cologne,Copenhagen,Geneva,Gibraltar,Hamburg,...,Lisbon,Lyons,Madrid,Marseilles,Milan,Munich,Paris,Rome,Stockholm,Vienna
city,,,,,,,,,,,,,,,,,,,,,
Athens,0,3313,2963,3175,3339,2762,3276,2610,4485,2977,...,4532,2753,3949,2865,2282,2179,3000,817,3927,1991
Barcelona,3313,0,1318,1326,1294,1498,2218,803,1172,2018,...,1305,645,636,521,1014,1365,1033,1460,2868,1802
Brussels,2963,1318,0,204,583,206,966,677,2256,597,...,2084,690,1558,1011,925,747,285,1511,1616,1175
Calais,3175,1326,204,0,460,409,1136,747,2224,714,...,2052,739,1550,1059,1077,977,280,1662,1786,1381
Cherbourg,3339,1294,583,460,0,785,1545,853,2047,1115,...,1827,789,1347,1101,1209,1160,340,1794,2196,1588
Cologne,2762,1498,206,409,785,0,760,1662,2436,460,...,2290,714,1764,1035,911,583,465,1497,1403,937
Copenhagen,3276,2218,966,1136,1545,760,0,1418,3196,460,...,2971,1458,2498,1778,1537,1104,1176,2050,650,1455
Geneva,2610,803,677,747,853,1662,1418,0,1975,1118,...,1936,158,1439,425,328,591,513,995,2068,1019
Gibraltar,4485,1172,2256,2224,2047,2436,3196,1975,0,2897,...,676,1817,698,1693,2185,2565,1971,2631,3886,2974
Hamburg,2977,2018,597,714,1115,460,460,1118,2897,0,...,2671,1159,2198,1479,1238,805,877,1751,949,1155
Hook of Holland,3030,1490,172,330,731,269,269,895,2428,550,...,2280,863,1730,1183,1098,851,457,1683,1500,1205
Lisbon,4532,1305,2084,2052,1827,2290,2971,1936,676,2671,...,0,1178,668,1762,2250,2507,1799,2700,3231,2937
Lyons,2753,645,690,739,789,714,1458,158,1817,1159,...,1178,0,1281,320,328,724,471,1048,2108,1157
Madrid,3949,636,1558,1550,1347,1764,2498,1439,698,2198,...,668,1281,0,1157,1724,2010,1273,2097,3188,2409
Marseilles,2865,521,1011,1059,1101,1035,1778,425,1693,1479,...,1762,320,1157,0,618,1109,792,1011,2428,1363
Milan,2282,1014,925,1077,1209,911,1537,328,2185,1238,...,2250,328,1724,618,0,331,856,586,2187,898
Munich,2179,1365,747,977,1160,583,1104,591,2565,805,...,2507,724,2010,1109,331,0,821,946,1754,428
Paris,3000,1033,285,280,340,465,1176,513,1971,877,...,1799,471,1273,792,856,821,0,1476,1827,1249
Rome,817,1460,1511,1662,1794,1497,2050,995,2631,1751,...,2700,1048,2097,1011,586,946,1476,0,2707,1209
Stockholm,3927,2868,1616,1786,2196,1403,650,2068,3886,949,...,3231,2108,3188,2428,2187,1754,1827,2707,0,2105
Vienna,1991,1802,1175,1381,1588,937,1455,1019,2974,1155,...,2937,1157,2409,1363,898,428,1249,1209,2105,0

We can construct an MDS manifold using sklearn.

In [4]:
seed = np.random.RandomState(seed=1000)

args = {
    "n_components" : 2, # scale to 2 dimensions
    "metric" : True, # there's also non-metric MDS
    "max_iter" : 10000,
    "eps" : 1e-32, 
    "random_state" : seed,
    "dissimilarity" : "precomputed", # start from a distance matrix in this case
    "n_jobs" : 1
}

mds = manifold.MDS(**args)

In [5]:
embed = mds.fit(dat)
embed

MDS(dissimilarity='precomputed', eps=1e-32, max_iter=10000, n_jobs=1,
    random_state=RandomState(MT19937) at 0x7FD9E56C3D40)

The `embedding_` field contains the raw dimensionally scaled *embedding*.  Notice that it's 2 dimensions, which is the number of dimensions we gave as an argument above.

In [6]:
embed.embedding_

array([[ 2747.9787423 ,   226.04826465],
       [ -124.13177848,  -981.61513635],
       [ -244.04435401,   329.51798197],
       [ -432.43047384,   269.50526281],
       [ -672.54643181,     3.63937828],
       [ -126.64402609,   547.95605884],
       [ -275.92632009,  1240.50043075],
       [  204.1339799 ,  -238.0854147 ],
       [ -903.42817208, -1879.51128614],
       [ -117.81916684,   935.00691509],
       [ -312.49655539,   545.84126945],
       [-1318.29757712, -1429.20673578],
       [   15.59456704,  -273.73918688],
       [ -769.83377725, -1209.06179033],
       [  144.99291038,  -565.65949826],
       [  505.85420874,  -127.25605239],
       [  473.9867088 ,   341.04850917],
       [ -288.6531719 ,    53.2685059 ],
       [ 1195.62576271,  -251.72943002],
       [ -569.57359293,  1885.92209715],
       [  867.65851797,   577.60985679]])

We can also get a measure of the *stress* of the embedding.  This is the total amount of original distance that was lost in this reduction.  There's no hard rule on what's an appropriate amount of stress... with dimensionality reduction you're typically just trying to fit as much variance/distance in a few dimensions (usually no more than 3).

In [7]:
embed.stress_

3356497.365752386

It's a bit annoying, but sklearn returns the result of the embedding as an array of rows, and we need an array of columns for plotting.  So, just grab the transpose.

In [8]:
embedT = embed.embedding_.T
embedT

array([[ 2747.9787423 ,  -124.13177848,  -244.04435401,  -432.43047384,
         -672.54643181,  -126.64402609,  -275.92632009,   204.1339799 ,
         -903.42817208,  -117.81916684,  -312.49655539, -1318.29757712,
           15.59456704,  -769.83377725,   144.99291038,   505.85420874,
          473.9867088 ,  -288.6531719 ,  1195.62576271,  -569.57359293,
          867.65851797],
       [  226.04826465,  -981.61513635,   329.51798197,   269.50526281,
            3.63937828,   547.95605884,  1240.50043075,  -238.0854147 ,
        -1879.51128614,   935.00691509,   545.84126945, -1429.20673578,
         -273.73918688, -1209.06179033,  -565.65949826,  -127.25605239,
          341.04850917,    53.2685059 ,  -251.72943002,  1885.92209715,
          577.60985679]])

I think it's easier to work with embeddings if we convert them back into dataframes.

In [10]:
edf = pd.DataFrame(embed.embedding_)
edf

              0            1
0   2747.978742   226.048265
1   -124.131778  -981.615136
2   -244.044354   329.517982
3   -432.430474   269.505263
4   -672.546432     3.639378
5   -126.644026   547.956059
6   -275.926320  1240.500431
7    204.133980  -238.085415
8   -903.428172 -1879.511286
9   -117.819167   935.006915
10  -312.496555   545.841269
11 -1318.297577 -1429.206736
12    15.594567  -273.739187
13  -769.833777 -1209.061790
14   144.992910  -565.659498
15   505.854209  -127.256052
16   473.986709   341.048509
17  -288.653172    53.268506
18  1195.625763  -251.729430
19  -569.573593  1885.922097
20   867.658518   577.609857

We can create a scatterplot, but we also need to label the points with the original labels they were associated with.  Matplotlib doesn't have great mechanisms for labelling text, we need to loop through the text annotations and mark them manually.

In [11]:
edf.plot.scatter(x=0,y=1)
annotations=dat.columns
for i, label in enumerate(annotations):
    plt.annotate(label, (edf[0][i], edf[1][i]))

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Recognize anything yet?  Here's a map of Europe for reference.  Is this embedding we created any good?

![image](https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fm0.joe.co.uk%2Fwp-content%2Fuploads%2F2018%2F08%2F20221042%2Feurope-political-map-miller-large.jpg&f=1&nofb=1)

Keep in mind that embeddings are *invariant against rotations and transpositions*.  This means we can use any of these transforms and the embedding is still valid.  Think about it, the Earth has no *intrinsic* axis.  We just pick an orientation and stick with it.  However, MDS doesn't have this common sense grounding, so it just picks the first orientation it comes across.

In [20]:
edf[0] *= -1
edf.plot.scatter(x=1,y=0)
annotations=dat.columns
for i, label in enumerate(annotations):
    plt.annotate(label, (edf[1][i], edf[0][i]))

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

![overlay](overlay.png)

We can also use PCA for representing distances as *variance*, which covers more abstract statistical relationships that occur between observations.

In [15]:
from sklearn import decomposition
iris = pd.read_csv("../data/iris.csv")
pca = decomposition.PCA(n_components=4)
iris_dat = iris.drop("Name",axis=1)
pca.fit(iris_dat)
iris_dat_pca = pca.transform(iris_dat)
points=iris_dat_pca.T
points.shape

(4, 150)

Now we see the payoff from using widgets!  We can embed a simple 3d plot to see the 4d to 3d embedding and explore the new representation of our data.

In [16]:
import mpl_toolkits.mplot3d.axes3d as p3
import pylab as p
from matplotlib import cm


fig = p.figure()
ax = p3.Axes3D(fig)

cmap = cm.get_cmap('Spectral') # Colour map (there are many others)
for i, name in enumerate(iris["Name"].unique()):
    idx = iris["Name"] == name
    ax.scatter(points[0][idx], points[1][idx], points[2][idx], cmap=cmap, label=name)
ax.legend()

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

## Issues Encountered in High Dimensional Settings Principal Component Analysis (PCA)

When working with PCA plots, it's always a good idea to look at "scree" plots to show how much variance you are throwing away at a given dimensionality.  For instance, most of the variance here in the Iris data is in a single principle component.  It's greater than the rest of the components combined.  

Getting rid of lower magnitude components is often a good idea in general.  The lower magnitude components are often *noise*, and it can be very helpful to remove them from the data.  PCA is a powerful tool for separating the signal and noise in your dataset.  It is well worth your time to get familiar with it.

In [17]:
pd.DataFrame(pca.singular_values_, index=['pc1', 'pc2', 'pc3', 'pc4']).plot.bar()

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

## t-Distributed Stochastic Neighbor Embedding (t-SNE)

The t-SNE embedding combines certain attributes of metric and non-metric dimensionality reduction, and can be very powerful for finding natural clustering that is occuring in the data, regardless of scale or variance amongst the data.

I'm such a fan of t-SNE, I wrote the implementation in R several years ago : https://cran.r-project.org/web/packages/tsne/index.html

We can see how poweful t-SNE is by having it visualize the mnist hand written digit dataset.  Keep in mind we are *not* using supervised learning here.  t-SNE discovers the relationship amongst the digits automatically, without even asking for it!

In [18]:
from sklearn import datasets
digits = datasets.load_digits(n_class=6)
data = digits.data
y = digits.target

In [19]:
print("Computing t-SNE embedding")
tsne = manifold.TSNE(n_components=2, init='pca', random_state=0)
from matplotlib import offsetbox
X = tsne.fit_transform(digits.data)

x_min, x_max = np.min(X, 0), np.max(X, 0)
X = (X - x_min) / (x_max - x_min)

plt.figure()
ax = plt.subplot(111)
for i in range(X.shape[0]):
    plt.text(X[i, 0], X[i, 1], str(digits.target[i]),
             color=plt.cm.Set1(digits.target[i] / 10.),
             fontdict={'weight': 'bold', 'size': 9})



shown_images = np.array([[1., 1.]])  # just something big
for i in range(X.shape[0]):
    dist = np.sum((X[i] - shown_images) ** 2, 1)
    if np.min(dist) < 4e-3:
        # drop points that (pretty much) overlap
        continue
    shown_images = np.r_[shown_images, [X[i]]]
    imagebox = offsetbox.AnnotationBbox(
        offsetbox.OffsetImage(digits.images[i], cmap=plt.cm.gray_r),
        X[i])
    ax.add_artist(imagebox)
    
plt.xticks([]), plt.yticks([])
plt.title("t-SNE embedding")

Computing t-SNE embedding

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Text(0.5, 1.0, 't-SNE embedding')

Here's a t-SNE project I did a while back.. it's a visualization of mutual fund allocations.  The trick here is that I also add the element of *time* to the visualization. The embedding adjusts itself to new data that arrive at different time points, making it easy to spot changes.

In [23]:
from IPython.display import IFrame

# Youtube
IFrame('https://www.youtube.com/embed/n-MLfNgfKJU?rel=0&amp;controls=0&amp;showinfo=0', 560, 315)